:root {
    --background-image: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, #d3d3d300 2px 4px), 
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px), 
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --text-color: black;
    --background-color: #fff;
    --hover-button-color: var(--background-color);
    --accent-color: #fff;
    --color-heart: #ff0000;
    --font-size: 18px;
    --font-family-content: 'Inter-Variable', 'Oswald', 'Arial', sans-serif;
    --font-family-title: 'Press Start 2P', 'fantasy', sans-serif;
    --font-normal: 400;
    --font-bold: 700;
    --animation-time: 0.3s;
    --animation-duration: 0.5s;
}